/** 颜色变量 **/
:root {
  --gentle-wave1: rgba(255, 255, 255, 0.7);
  --gentle-wave2: rgba(255, 255, 255, 0.5);
  --gentle-wave3: rgba(255, 255, 255, 0.3);
  --gentle-wave: #fff;
  --main-color: #0085a1;
  --h1-color: #333;
  --bd-shadow: rgba(0, 0, 0, 0.3);
  --mask-bg: rgba(255, 255, 255, 0.7);
  --img-light: rgba(0, 0, 0, 0);
  --textarea-bg: #fff;
  --reply-bg: #fafafa;
  --tag-bg1: #d6d6d6;
  --tag-bg2: #d6d6d6;
  --theme-switch: rgba(255, 255, 255, 0.1);
  --collect-border: #f3f3f3;
  --message-avatar-border: rgba(0, 0, 0, 0.06);
  --message-bg: rgba(0, 0, 0, 0.05);
  --message-clip: rgba(0, 0, 0, 0.25);
  --message-box-bg: #ffffff;
  --home-border: #e3e3e3;
  --tip-color: rgba(51, 51, 51, 0.9);
  --insicon-color: #333;
  --top-color: #f46267;
}
body {
  background-color: var(--backgroundColor, #ffffff);
}
.w-1200 {
  width: 1200px;
}
.w-min-1200 {
  min-width: 1200px;
}
.w-full {
  width: 100%;
}
.w-100vw {
  width: 100vw;
}
.h-full {
  height: 100%;
}
.h-100vw {
  height: 100vw;
}
.box-sizing {
  box-sizing: border-box;
}
.border-b-f3 {
  border-bottom: 1px solid #f3f3f3;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-hide {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.pointer {
  cursor: pointer;
}
.shadow-all {
  box-shadow: 0 0 15px 1px var(--bd-shadow);
}
.d-flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-grow-1 {
  flex-grow: 1;
}
.nav-tit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
}
.nav-tit:hover {
  color: var(--h1-color);
}
.tit1 {
  margin-bottom: 10px;
}
.tit2 {
  margin-left: 10px;
}
.tit2::before {
  padding-right: 5px;
}
.tit3 {
  margin-left: 30px;
}
.tit3::before {
  padding-right: 5px;
}
.text-white {
  color: white;
}
.bg-white {
  background-color: white;
}
.text-black {
  color: black;
}
.bg-black {
  background-color: black;
}
.text-gray {
  color: gray;
}
.bg-gray {
  background-color: gray;
}
.text-red {
  color: red;
}
.bg-red {
  background-color: red;
}
.text-gray-3 {
  color: #333;
}
.bg-gray-3 {
  background-color: #333;
}
.text-gray-40 {
  color: #404040;
}
.bg-gray-40 {
  background-color: #404040;
}
.text-gray-fa {
  color: #fafafa;
}
.bg-gray-fa {
  background-color: #fafafa;
}
.text-gray-f3 {
  color: #f3f3f3;
}
.bg-gray-f3 {
  background-color: #f3f3f3;
}
.text-gray-80 {
  color: #808080;
}
.bg-gray-80 {
  background-color: #808080;
}
.text-gray-a3 {
  color: #a3a3a3;
}
.bg-gray-a3 {
  background-color: #a3a3a3;
}
.text-gray-bf {
  color: #bfbfbf;
}
.bg-gray-bf {
  background-color: #bfbfbf;
}
.text-text-hover {
  color: #0085a1;
}
.bg-text-hover {
  background-color: #0085a1;
}
.text-l {
  text-align: left;
}
.text-c {
  text-align: center;
}
.text-r {
  text-align: right;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-22 {
  font-size: 22px;
}
.fs-26 {
  font-size: 26px;
}
.fs-32 {
  font-size: 32px;
}
.fs-48 {
  font-size: 48px;
}
.pos-fix {
  position: fixed;
}
.pos-abs {
  position: absolute;
}
.pos-rel {
  position: relative;
}
.js-start {
  justify-content: flex-start;
}
.js-end {
  justify-content: flex-end;
}
.js-center {
  justify-content: center;
}
.js-between {
  justify-content: space-between;
}
.js-around {
  justify-content: space-around;
}
.ai-start {
  align-items: flex-start;
}
.ai-end {
  align-items: flex-end;
}
.ai-center {
  align-items: center;
}
.ai-stretch {
  align-items: stretch;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.m-10 {
  margin: 10px;
}
.m-15 {
  margin: 15px;
}
.m-20 {
  margin: 20px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-15 {
  padding-right: 15px;
}
.pr-20 {
  padding-right: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-20 {
  padding-left: 20px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
