/** 颜色变量 **/
:root {
  --gentle-wave1: rgba(255, 255, 255, 0.7);
  --gentle-wave2: rgba(255, 255, 255, 0.5);
  --gentle-wave3: rgba(255, 255, 255, 0.3);
  --gentle-wave: #fff;
  --main-color: #0085a1;
  --h1-color: #333;
  --bd-shadow: rgba(0, 0, 0, 0.3);
  --mask-bg: rgba(255, 255, 255, 0.7);
  --img-light: rgba(0, 0, 0, 0);
  --textarea-bg: #fff;
  --reply-bg: #fafafa;
  --tag-bg1: #d6d6d6;
  --tag-bg2: #d6d6d6;
  --theme-switch: rgba(255, 255, 255, 0.1);
  --collect-border: #f3f3f3;
  --message-avatar-border: rgba(0, 0, 0, 0.06);
  --message-bg: rgba(0, 0, 0, 0.05);
  --message-clip: rgba(0, 0, 0, 0.25);
  --message-box-bg: #ffffff;
  --home-border: #e3e3e3;
  --tip-color: rgba(51, 51, 51, 0.9);
  --insicon-color: #333;
}
