.layoutHeader {
  width: 100%;
  background: #fff;
  height: 50px;
  line-height: 50px;
  padding: 0;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.05);
}
.layoutHeader .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 50px;
  cursor: pointer;
  transition: color 0.3s;
}
.layoutHeader .trigger:hover {
  color: #1890ff;
}
.layoutHeader .pointHover {
  cursor: pointer;
}
.layoutHeader .pointHover:hover {
  color: #1890ff;
  transition: all 0.3s;
}
