.layout-header {
  background: #fff;
  height: 50px;
  line-height: 50px;
  .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 50px;
    cursor: pointer;
    transition: color 0.3s;
    &:hover{
      color: #1890ff;
    }
  } 
}
