@font-face {
  font-family: "iconfont"; /* Project id 2762285 */
  src: url('iconfont.woff2?t=1632358760132') format('woff2'),
       url('iconfont.woff?t=1632358760132') format('woff'),
       url('iconfont.ttf?t=1632358760132') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pen:before {
  content: "\e674";
}

.icon-clip:before {
  content: "\e60c";
}

.icon-message:before {
  content: "\e609";
}

.icon-zan:before {
  content: "\e65d";
}

.icon-time:before {
  content: "\e756";
}

.icon-letter:before {
  content: "\e6a0";
}

.icon-write:before {
  content: "\e647";
}

.icon-nav-tag:before {
  content: "\e7ca";
}

.icon-tuding:before {
  content: "\e63a";
}

.icon-send:before {
  content: "\e734";
}

.icon-emoji:before {
  content: "\e62c";
}

.icon-previous:before {
  content: "\e600";
}

.icon-next:before {
  content: "\f058";
}

.icon-tag:before {
  content: "\e604";
}

.icon-right:before {
  content: "\e62b";
}

.icon-calendar:before {
  content: "\e7f5";
}

.icon-moon:before {
  content: "\f057";
}

.icon-sun:before {
  content: "\e6a2";
}

.icon-md-rocket:before {
  content: "\e771";
}

.icon-info-4:before {
  content: "\e627";
}

.icon-info-1:before {
  content: "\e8c6";
}

.icon-info-2:before {
  content: "\e8db";
}

.icon-info-3:before {
  content: "\e73c";
}

